
  <style>

    footer {
    font-family: Arial, sans-serif;
      margin-top: 20px;
      padding: 0;
      background-color: #f8f9fa;
      background-color: #343a40;
      color: #fff;
      padding: 40px 0;
      text-align: center;
    }

    footer h6 {
      font-size: 16px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    footer a {
      color: #adb5bd;
      text-decoration: none;
    }

    footer a:hover {
      color: #ffc107;
    }

    .footer-link {
      display: block;
      margin: 5px 0;
    }
  </style>
</head>

<body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <h6>Dịch vụ khách hàng</h6>
          <a class="footer-link" href="#!">Liên hệ &amp; Hỗ trợ</a>
          <a class="footer-link" href="#!">Đổi trả &amp; Hoàn tiền</a>
          <a class="footer-link" href="#!">Cửa hàng trực tuyến</a>
          <a class="footer-link" href="#!">Điều khoản sử dụng</a>
        </div>
        <div class="col">
          <h6>Công ty</h6>
          <a class="footer-link" href="#!">Giới thiệu</a>
          <a class="footer-link" href="#!">Dịch vụ của chúng tôi</a>
          <a class="footer-link" href="#!">Tin tức</a>
          <a class="footer-link" href="#!">Câu hỏi thường gặp</a>
        </div>
        <div class="col">
          <h6>Mạng xã hội</h6>
          <a class="footer-link" href="#!">Twitter</a>
          <a class="footer-link" href="#!">Instagram</a>
          <a class="footer-link" href="#!">Tumblr</a>
          <a class="footer-link" href="#!">Pinterest</a>
        </div>
      </div>
    </div>
  </footer>
