<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 20px 0px;">
  <div class="container">
    <a class="navbar-brand" href="/home">F8 Khoa Hoc</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <img
              src="https://i.pinimg.com/736x/83/a2/73/83a273ce01680e01994c5a163d00461a.jpg"
              alt="" class="img-avatar">
            Ha Hoang
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Dăng Khóa học</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="/me/stored/courses">Khoá Học Của Tôi</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="/me/stored/courses">Tin Tức Của Tôi</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>